<div class="grid_wrapper">
  <h2 class="text-center">
    RESPOSNIVE GRID
  </h2>

  <div class="content_grid d-flex flex-wrap justify-content-center">
    <a
      *ngFor="let data of pageData; let i = index"
      (click) = "removeColorImage(i)"
      class= "data_btn"
      title= "Click to remove image"
    >
      <img src="{{isMobile ? data.thumbnailUrl : data.url}}"/>
    </a>
  </div>

  <div class="text-center mt-4 mb-4">
    <button (click) = "loadNextPage()" class="btn btn-primary">Show more</button>
  </div>
</div>